<hr class="top-gap-big"></hr>
<p class="text-center">
    <small class="text-muted">
    	<span itemprop="copyrightHolder">Life Like Summer 
    		<a href="https://docs.qq.com/doc/DZmpMeWR4RmtFcmhj?opendocxfrom=admin" target="_blank" style="color:red">Flowers</a></span>
        <br/>
        &copy;  2017 -
        <span itemprop="copyrightYear"> 2018 </span>
        <span itemprop="copyrightHolder">TastSong</span>
        <br/>
        <span class="theme-separator"></span>                    
    </small>
</p>
